{% extends 'ui/base.html' %}

{% load staticfiles %}

{% block content %}

  <div class="success-page-content">

    <p class="lead success-page-lead">
      {% block lead-message %}{% endblock %}
    </p>

    {% block success-content %}{% endblock %}

    <ul class="success-links">
      <li><a href="{% url 'index' %}">Your export wins</a></li>
      <li><a href="{% url 'new-win' %}">Create a new export win</a></li>
    </ul>

    <p class="success-feedback-message">
      If you would like to send us some feedback on this service, please use the link at the top of the page.
    </p>

  </div>
{% endblock content %}
