<div class="contributing-officer-group">
	<div class="form-group contributing-officer-name">
		<label for="">Contributing officer name</label>
		<div class="restrict-width-sm">
			{{ name }}
		</div>
		<span class="hidden">{{ id }}</span>
	</div>
	<div class="row contributing-officer-team-group">
		<div class="col-sm-4 contributing-team-type">
			<label for="">Team type</label>
			{{ team_type }}
		</div>
		<div class="col-sm-8 contributing-team">
			<label for="">HQ Team, Region or Post</label>
			{{ team }}
		</div>
	</div>
</div>