{% if field_0.errors or field_1.errors or field_2.errors or field_3.errors or field_4.errors %}
	<p class="alert alert-danger">Please correct the values highlighted with red below. Whole numbers only (no separators etc).</p>
{% endif %}

<div class="scroll-table">
<table class="table table-responsive win-value-table">
	<tr>
		<th><label for="{{ field_0.auto_id }}" id="{{ field_0.auto_id }}-label">{{ field_0.label }}</label></th>
		<th><label for="{{ field_1.auto_id }}" id="{{ field_1.auto_id }}-label">{{ field_1.label }}</label></th>
		<th><label for="{{ field_2.auto_id }}" id="{{ field_2.auto_id }}-label">{{ field_2.label }}</label></th>
		<th><label for="{{ field_3.auto_id }}" id="{{ field_3.auto_id }}-label">{{ field_3.label }}</label></th>
		<th><label for="{{ field_4.auto_id }}" id="{{ field_4.auto_id }}-label">{{ field_4.label }}</label></th>
	</tr>
	<tr>
		{% include "wins/partials/export-value-cell.html" with field=field_0 %}
		{% include "wins/partials/export-value-cell.html" with field=field_1 %}
		{% include "wins/partials/export-value-cell.html" with field=field_2 %}
		{% include "wins/partials/export-value-cell.html" with field=field_3 %}
		{% include "wins/partials/export-value-cell.html" with field=field_4 %}
	</tr>
</table>
</div>