{% extends 'ui/base.html' %}

{% load humanize %}

{% block content %}

<div class="win-form">

	{% if form.errors %}
		<div class="alert alert-danger">
			There were some errors with your submission.  Please see below.
		</div>
		{{ form.non_field_errors }}
	{% endif %}
	
	<p>The Lead officer should provide information for this form.</p>

	{% if win.complete %}

	<p class="alert alert-info">
		This win has been sent to the customer for review and certain information cannot be edited any more.
	</p>

	{% endif %}

	<form method="post" id="win-form">

    {% csrf_token %}

		<h3>Officer details</h3>
		{% include "wins/partials/win-field.html" with field=form.lead_officer_name class="restrict-width-sm" %}
		<div class="row">
			<div class="col-sm-4">
				{% include "wins/partials/win-field.html" with field=form.team_type %}
			</div>
			<div class="col-sm-8">
				{% include "wins/partials/win-field.html" with field=form.hq_team %}
			</div>
		</div>
		{% include "wins/partials/win-field.html" with field=form.line_manager_name class="restrict-width-sm" %}
		{% include "wins/partials/win-field.html" with field=form.lead_officer_email_address help="You only need to provide this if you are completing this form on behalf of the lead officer" class="restrict-width-sm" %}
		{% include "wins/partials/win-field.html" with field=form.other_official_email_address help="If another officer from your team should be kept notified, provide their email address" class="restrict-width-sm" %}

		<div class="form-group has-contributors">
	
			<div class="radio">
				<label for="no-contributors">
					<input type="radio" id="no-contributors" name="has-contributors" value="no">
					This was the only team that worked on this win
				</label>
			</div>

			<div class="radio">
				<label for="some-contributors">
					<input type="radio" id="some-contributors" name="has-contributors" value="yes" {% if form.advisor_0_name.value %} checked{% endif %}>
					More than one team contributed to this win
				</label>			
			</div>

		</div>

		<div id="contributing-teams-details" class="contributing-teams-content">
			<h3>
				Contributing teams and advisers
			</h3>			
		
			{% include "wins/partials/win-contributor.html" with name=form.advisor_0_name id=form.advisor_0_id team_type=form.advisor_0_team_type team=form.advisor_0_hq_team location=form.advisor_0_location %}
			{% include "wins/partials/win-contributor.html" with name=form.advisor_1_name id=form.advisor_1_id team_type=form.advisor_1_team_type team=form.advisor_1_hq_team location=form.advisor_1_location %}
			{% include "wins/partials/win-contributor.html" with name=form.advisor_2_name id=form.advisor_2_id team_type=form.advisor_2_team_type team=form.advisor_2_hq_team location=form.advisor_2_location %}
			{% include "wins/partials/win-contributor.html" with name=form.advisor_3_name id=form.advisor_3_id team_type=form.advisor_3_team_type team=form.advisor_3_hq_team location=form.advisor_3_location %}
			{% include "wins/partials/win-contributor.html" with name=form.advisor_4_name id=form.advisor_4_id team_type=form.advisor_4_team_type team=form.advisor_4_hq_team location=form.advisor_4_location %}

		</div>


		<h3>Customer details</h3>

		{% include "wins/partials/win-field.html" with field=form.company_name class="restrict-width-lg" %}
		{% include "wins/partials/win-field.html" with field=form.cdms_reference class="restrict-width-sm" %}
		{% include "wins/partials/win-field.html" with field=form.customer_name class="restrict-width-sm" %}
		{% include "wins/partials/win-field.html" with field=form.customer_email_address class="restrict-width-sm" %}
		{% include "wins/partials/win-field.html" with field=form.customer_job_title class="restrict-width-sm" %}
		{% include "wins/partials/win-field.html" with field=form.customer_location class="restrict-width-sm" %}


		<h3>Export win details</h3>

		<p>
			Your answers to these questions will be included in the details confirmed
			by the customer.
		</p>

		{% include "wins/partials/win-field.html" with field=form.name_of_customer class="restrict-width" %}

	{% if win.complete %}

		<div class="panel panel-info">
			<p class="panel-heading">The win has been sent to the customer and these details cannot be edited.</p>
			<div class="panel-body">
				{% include "wins/partials/win-details-element.html" with name="Country" val=win.country_name %}
				{% include "wins/partials/win-details-element.html" with name="Date" val=win.date %}
				{% include "wins/partials/win-details-element.html" with name="How was the company supported in achieving this win?" val=win.description %}
			</div>
		</div>

	{% else %}

		{% include "wins/partials/win-field.html" with field=form.country class="restrict-width-sm" %}
		{% include "wins/partials/win-field.html" with field=form.date help="Enter month and year in the format MM/YYYY." class="restrict-width-xsm" %}
		{% include "wins/partials/win-field.html" with field=form.description help="Give a brief description of the services provided (in no more than about 50 words)." class="restrict-width" %}

	{% endif %}

{% comment %}
		<p>
			These questions help us to understand the &pound; value of the customer's win
			over a five year period. How much of that &pound; value is UK exports and how
			much is non-export value. We will use these aggregated values to help
			demonstrate the contribution to the Government's &pound;1 trillion by 2020
			export target.
			<br>
			<br>
			Please see guidance and FAQs.
		</p>
{% endcomment %}

		{% include "wins/partials/form-radio.html" with field=form.type %}

	{% if win.complete %}

		<div class="panel panel-info">
			<p class="panel-heading">The win has been sent to the customer and these details cannot be edited.</p>
			<div class="panel-body">

				<h4>Export value</h4>

				<p>
					Total export value over the next 5 years.
				</p>

				<table class="table table-responsive win-value-table">
					<tr>
						<th>{{ win.breakdowns.exports.0.year }}</th>
						<th>{{ win.breakdowns.exports.1.year }}</th>
						<th>{{ win.breakdowns.exports.2.year }}</th>
						<th>{{ win.breakdowns.exports.3.year }}</th>
						<th>{{ win.breakdowns.exports.4.year }}</th>
					</tr>
					<tr>
						<td>&pound;{{ win.breakdowns.exports.0.value | intcomma }}</td>
						<td>&pound;{{ win.breakdowns.exports.1.value | intcomma }}</td>
						<td>&pound;{{ win.breakdowns.exports.2.value | intcomma }}</td>
						<td>&pound;{{ win.breakdowns.exports.3.value | intcomma }}</td>
						<td>&pound;{{ win.breakdowns.exports.4.value | intcomma }}</td>
					</tr>
				</table>

				<p class="export-year-value">Total: &pound;{{ win.total_expected_export_value | intcomma }}</p>

				<h4 class="non-export-heading">Non-export value</h4>

				<p>
					Total non export value over the next 5 years.
				</p>

				<table class="table table-responsive win-value-table">
					<tr>
						<th>{{ win.breakdowns.nonexports.0.year }}</th>
						<th>{{ win.breakdowns.nonexports.1.year }}</th>
						<th>{{ win.breakdowns.nonexports.2.year }}</th>
						<th>{{ win.breakdowns.nonexports.3.year }}</th>
						<th>{{ win.breakdowns.nonexports.4.year }}</th>
					</tr>
					<tr>
						<td>&pound;{{ win.breakdowns.nonexports.0.value | intcomma }}</td>
						<td>&pound;{{ win.breakdowns.nonexports.1.value | intcomma }}</td>
						<td>&pound;{{ win.breakdowns.nonexports.2.value | intcomma }}</td>
						<td>&pound;{{ win.breakdowns.nonexports.3.value | intcomma }}</td>
						<td>&pound;{{ win.breakdowns.nonexports.4.value | intcomma }}</td>
					</tr>
				</table>

				<p class="export-year-value">Total: &pound;{{ win.total_expected_non_export_value | intcomma }}</p>
			</div>
		</div>

	{% else %}

		<div id="export-content" class="win-values">

			<h4>Export value over 5 years</h4>
			<p class="help-text">(round to the nearest &pound;)</p>

			{% if form.breakdown_exports_0.errors or form.breakdown_exports_1.errors or form.breakdown_exports_2.errors or form.breakdown_exports_.errors or form.breakdown_exports_4.errors %}
				<p class="alert alert-danger">Please correct the values highlighted with red below. Whole numbers only (no separators etc).</p>
			{% endif %}

			<div class="scroll-table">
			<table class="table table-responsive win-value-table">
				<tr>
					<th>{{ form.breakdown_exports_0.label_tag }}</th>
					<th>{{ form.breakdown_exports_1.label_tag }}</th>
					<th>{{ form.breakdown_exports_2.label_tag }}</th>
					<th>{{ form.breakdown_exports_3.label_tag }}</th>
					<th>{{ form.breakdown_exports_4.label_tag }}</th>
				</tr>
				<tr>
					{% include "wins/partials/export-value-cell.html" with field=form.breakdown_exports_0 %}
					{% include "wins/partials/export-value-cell.html" with field=form.breakdown_exports_1 %}
					{% include "wins/partials/export-value-cell.html" with field=form.breakdown_exports_2 %}
					{% include "wins/partials/export-value-cell.html" with field=form.breakdown_exports_3 %}
					{% include "wins/partials/export-value-cell.html" with field=form.breakdown_exports_4 %}
				</tr>
			</table>
			</div>

			{% include "wins/partials/win-field.html" with field=form.total_expected_export_value help="The total expected value should be the sum of the annual values of the win." class="restrict-width-xsm" %}
		</div>

		<div id="non-export-content" class="win-values">

			<h4>Non-export value over 5 years</h4>
			<p class="help-text">(round to the nearest &pound;)</p>

			{% if form.breakdown_non_exports_0.errors or form.breakdown_non_exports_1.errors or form.breakdown_non_exports_2.errors or form.breakdown_non_exports_.errors or form.breakdown_non_exports_4.errors %}
				<p class="alert alert-danger">Please correct the values highlighted with red below. Whole numbers only (no separators etc).</p>
			{% endif %}

			<div class="scroll-table">
			<table class="table table-responsive win-value-table">
				<tr>
					<th>{{ form.breakdown_non_exports_0.label_tag }}</th>
					<th>{{ form.breakdown_non_exports_1.label_tag }}</th>
					<th>{{ form.breakdown_non_exports_2.label_tag }}</th>
					<th>{{ form.breakdown_non_exports_3.label_tag }}</th>
					<th>{{ form.breakdown_non_exports_4.label_tag }}</th>
				</tr>
				<tr>
					{% include "wins/partials/export-value-cell.html" with field=form.breakdown_non_exports_0 %}
					{% include "wins/partials/export-value-cell.html" with field=form.breakdown_non_exports_1 %}
					{% include "wins/partials/export-value-cell.html" with field=form.breakdown_non_exports_2 %}
					{% include "wins/partials/export-value-cell.html" with field=form.breakdown_non_exports_3 %}
					{% include "wins/partials/export-value-cell.html" with field=form.breakdown_non_exports_4 %}
				</tr>
			</table>
			</div>

			{% include "wins/partials/win-field.html" with field=form.total_expected_non_export_value help="The total expected value should be the sum of the annual values of the win." class="restrict-width-xsm" %}
		</div>

	{% endif %}

		{% include "wins/partials/form-radio.html" with field=form.goods_vs_services %}

		{% include "wins/partials/win-field.html" with field=form.name_of_export class="restrict-width" %}

		{% include "wins/partials/win-field.html" with field=form.sector class="restrict-width-lg" %}

		{% include "wins/partials/win-field.html" with field=form.business_type help="e.g. export sales, contract, order, distributor, tender /competition win, joint venture, outward investment, etc." class="restrict-width" %}
		

		<h3>Support provided</h3>

		<p>
			How did we help the customer achieve this win?
		</p>

		<h4>This win was...</h4>

		<div class="checkbox">
			<label for="part-of-hvo">
				<input name="part_of_hvo" id="part-of-hvo" type="checkbox" value="True"{% if form.has_hvo_specialist_involvement.value == 'True' or form.hvo_programme.value != '' %} checked{% endif %}>
				Part of an HVO program
			</label>
		</div>

		<div id="hvo-program-details" class="hvo-program-details">
			{% include "wins/partials/win-field.html" with field=form.hvo_programme class="restrict-width" %}
			{% include "wins/partials/form-checkbox.html" with field=form.has_hvo_specialist_involvement %}
		</div>
		{% include "wins/partials/form-checkbox.html" with field=form.is_prosperity_fund_related %}
		{% include "wins/partials/form-checkbox.html" with field=form.is_e_exported %}

		{% include "wins/partials/win-field.html" with field=form.type_of_support_1 class="restrict-width" %}
		{% include "wins/partials/win-field.html" with field=form.type_of_support_2 class="restrict-width" %}
		{% include "wins/partials/win-field.html" with field=form.type_of_support_3 class="restrict-width" %}
		{% include "wins/partials/win-field.html" with field=form.associated_programme_1 class="restrict-width" %}
		{% include "wins/partials/win-field.html" with field=form.associated_programme_2 class="restrict-width" %}
		{% include "wins/partials/win-field.html" with field=form.associated_programme_3 class="restrict-width" %}
		<hr>

		{# these manually place the label before the field #}

		<div class="form-group {{ form.is_personally_confirmed.errors|yesno:'error,' }}">
			{{ form.is_personally_confirmed.errors }}
			{{ form.is_personally_confirmed }}
			{% if form.is_personally_confirmed.field.required %}<span class="required">*</span>{% endif %} {{ form.is_personally_confirmed.label_tag }}
			{% if form.is_personally_confirmed.help_text %}<div class="help-text">{{ form.is_personally_confirmed.help_text }}</div>{% endif %}
			<div class="clearfix"></div>
		</div>

		<div class="form-group {{ form.is_line_manager_confirmed.errors|yesno:'error,' }}">
			{{ form.is_line_manager_confirmed.errors }}
			{{ form.is_line_manager_confirmed }}
			{% if form.is_line_manager_confirmed.field.required %}<span class="required">*</span>{% endif %} {{ form.is_line_manager_confirmed.label_tag }}
			{% if form.is_line_manager_confirmed.help_text %}<div class="help-text">{{ form.is_line_manager_confirmed.help_text }}</div>{% endif %}
			<div class="clearfix"></div>
		</div>

{% comment %}
		{% if not win.complete %}
		<p class="well restrict-width win-form-well">
			Before sending this win to the customer, please review the details they will see. You can also save this win if you need to add or update information later.
		</p>
		{% endif %}
{% endcomment %}

		<div class="end-buttons">
{% comment %}
			{% if not win.complete %}
				<input type="submit" name="send" value="Save and review" class="btn btn-primary">
			{% endif %}
{% endcomment %}
			<input type="submit" name="save" value="Save" class="btn btn-primary">

			<a href="{% url 'index' %}" class="btn btn-default">Cancel</a>
		</div>

	</form>
</div>

{% endblock content %}


{% block js_footer %}
	<script>
		ew.pages.officerForm({
			isComplete: ( '{{ win.complete }}' === 'True' ),
			descriptionId: '{{ form.description.auto_id }}',
			hvoProgram: {
				checkboxId: '#part-of-hvo',
				contentId: '#hvo-program-details'
			},
			exportType: {
				name: '{{ form.type.name }}',
				exportValue: '{{ form.type.field.choices.0.0 }}', // name: '{{ form.type.field.choices.0.1 }}'
				nonExportValue: '{{ form.type.field.choices.1.0 }}', //name: '{{ form.type.field.choices.1.1 }}'
				bothValue: '{{ form.type.field.choices.2.0 }}' //name: '{{ form.type.field.choices.2.1 }}'
			},
			exportContentId: 'export-content',
			nonExportContentId: 'non-export-content',
			exportValues: [
				'{{ form.breakdown_exports_0.auto_id }}',
				'{{ form.breakdown_exports_1.auto_id }}',
				'{{ form.breakdown_exports_2.auto_id }}',
				'{{ form.breakdown_exports_3.auto_id }}',
				'{{ form.breakdown_exports_4.auto_id }}'
			],
			exportTotal: '{{ form.total_expected_export_value.auto_id }}',
			nonExportValues: [
				'{{ form.breakdown_non_exports_0.auto_id }}',
				'{{ form.breakdown_non_exports_1.auto_id }}',
				'{{ form.breakdown_non_exports_2.auto_id }}',
				'{{ form.breakdown_non_exports_3.auto_id }}',
				'{{ form.breakdown_non_exports_4.auto_id }}'
			],
			nonExportTotal: '{{ form.total_expected_non_export_value.auto_id }}'
		});
	</script>
{% endblock js_footer %}