PyJWT==1.5.3
Django==1.11.11
python-dateutil==2.5.3
requests==2.10.0
django-filter==0.13.0
django_extensions==1.6.7
gunicorn==19.5.0
whitenoise==3.1
raven==6.3.0
defusedcsv==1.0.1
boto3==1.6.17

# Tests
factory-boy==2.7.0
pytest==2.9.1
pytest-django==2.9.1
pytest-sugar==0.7.1

