{% extends 'ui/base.html' %}

{% load static %}

{% block title %} - Review submitted{% endblock title %}

{% comment %}
	Remove the site header as this is sent to a customer and they don't need the header or breadcrumbs
{% endcomment %}
{% block site-header %}{% endblock site-header %}

{% block header %}
	<h1>
		Thank you
	</h1>
{% endblock header %}

{% block content %}

  <p class="lead">
    Your review has been submitted. We appreciate you taking the time to confirm the export win.
  </p>

  <p>
    <a href="mailto:{{ FEEDBACK_EMAIL }}?subject=Export%20Wins%20Feedback">Give feedback</a>
  </p>
{% endblock content %}
