<div class="form-group {{ field.errors|yesno:'error,' }}">
	{{ field.errors }}
	{# {% if field.field.required %}<span class="required">*</span>{% endif %} #}
	{% if label %}
		<label>{{ label }}</label>
	{% else %}
		{{ field.label_tag }}
	{% endif %}

	{% if help %}<div class="help-text">{{ help }}</div>{% endif %}
	{% if tooltip %}
		<span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" data-original-title="{{ tooltip }}"></span>
	{% endif %}
	
	<div class="btn-group pull-right" data-toggle="buttons">
		{% for choice in field %}
		<label for="{{ field.name }}-{{ forloop.counter }}" class="btn btn-default">
			{{ choice.choice_label }}
			<input type="radio" id="{{ field.name }}-{{ forloop.counter }}" name="{{ field.name }}" value="{{ choice.choice_value }}">
		</label>
		{% endfor %}
	</div>

	<div class="clearfix"></div>
</div>
