{% extends 'ui/base.html' %}


{% load staticfiles %}
{% load humanize %}


{% block css %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'contrib/stars/css/star-rating.min.css' %}" />
  <style>
    .form-group label {
      float: left;
      max-width: 80%;
    }
    table.win-details tr th {
      text-align: left;
    }
  </style>
{% endblock css %}


{% block js_header %}
  {{ block.super }}
  <script language="JavaScript" src="{% static 'contrib/stars/js/star-rating.min.js' %}"></script>
{% endblock js_header %}


{% block content %}

  <div class="alert alert-info">
    <p>
      We want to keep track of the success of UK companies, and understand how
      our support helps them succeed.
    </p>
    <p>
      At the same time, we are working to minimise bureaucracy and test the
      system to ensure that your private and confidential information is
      handled securely at all times.
    </p>
    <p>
      Please let us know, using the button above, if you encounter any problems
      with this service.
    </p>
  </div>

  {% if form.errors %}
    <div class="alert alert-danger">
      There were some errors with your submission.  Please see below.
    </div>
    {{ form.non_field_errors }}
  {% endif %}

  <h3>Your export success</h3>
  <table class="win-details table table-striped table-responsive">
    {% if win.business_type.value %}
      <tr>
        <th>Type of business deal</th>
        <td>{{ win.business_type.value }}</td>
      </tr>
    {% endif %}
    <tr>
      <th>How we supported you to achieve this win</th>
      <td>{{ win.description.value }}</td>
    </tr>
    {% if win.total_expected_export_value.value %}
      <tr>
        <th>The total expected export value over the next 5 years</th>
        <td>£{{ win.total_expected_export_value.value|intcomma }}</td>
      </tr>
    {% endif %}
    {% if win.total_expected_non_export_value.value %}
      <tr>
        <th>{{ win.total_expected_non_export_value.label }}</th>
        <td>£{{ win.total_expected_non_export_value.value }}</td>
      </tr>
    {% endif %}
    <tr>
      <th>The country where the business was won</th>
      <td>{{ win.country.value }}</td>
    </tr>
    <tr>
      <th>Date business won</th>
      <td>{{ win.date.value|date:'m/Y' }}</td>
    </tr>
  </table>

  <p class="alert alert-info">
    If this information is incorrect, please tell us how it should change in
    the comment box at the bottom of this form.
  </p>

  <form method="post">

    <h3>How important was our support in securing the win?</h3>

    <p>
      On a scale of 1-5 where 1 is to no extent and 5 is to a significant
      extent, please rate your experiences.
    </p>

    <div class="form-group {{ form.access_to_contacts.errors|yesno:'error,' }}">
      {{ form.access_to_contacts.errors }}
      <div class="col-sm-7 col-xs-12">{{ form.access_to_contacts.label_tag }}</div>
      <div class="col-sm-5 col-xs-12">{{ form.access_to_contacts }}</div>
      {% if form.access_to_contacts.help_text %}<div class="help-text">{{ form.access_to_contacts.help_text }}</div>{% endif %}
      <div class="clearfix"></div>
    </div>

    <div class="form-group {{ form.access_to_information.errors|yesno:'error,' }}">
      {{ form.access_to_information.errors }}
      <div class="col-sm-7 col-xs-12">{{ form.access_to_information.label_tag }}</div>
      <div class="col-sm-5 col-xs-12">{{ form.access_to_information }}</div>
      {% if form.access_to_information.help_text %}<div class="help-text">{{ form.access_to_information.help_text }}</div>{% endif %}
      <div class="clearfix"></div>
    </div>

    <div class="form-group {{ form.improved_profile.errors|yesno:'error,' }}">
      {{ form.improved_profile.errors }}
      <div class="col-sm-7 col-xs-12">{{ form.improved_profile.label_tag }}</div>
      <div class="col-sm-5 col-xs-12">{{ form.improved_profile }}</div>
      {% if form.improved_profile.help_text %}<div class="help-text">{{ form.improved_profile.help_text }}</div>{% endif %}
      <div class="clearfix"></div>
    </div>

    <div class="form-group {{ form.gained_confidence.errors|yesno:'error,' }}">
      {{ form.gained_confidence.errors }}
      <div class="col-sm-7 col-xs-12">{{ form.gained_confidence.label_tag }}</div>
      <div class="col-sm-5 col-xs-12">{{ form.gained_confidence }}</div>
      {% if form.gained_confidence.help_text %}<div class="help-text">{{ form.gained_confidence.help_text }}</div>{% endif %}
      <div class="clearfix"></div>
    </div>

    <div class="form-group {{ form.developed_relationships.errors|yesno:'error,' }}">
      {{ form.developed_relationships.errors }}
      <div class="col-sm-7 col-xs-12">{{ form.developed_relationships.label_tag }}</div>
      <div class="col-sm-5 col-xs-12">{{ form.developed_relationships }}</div>
      {% if form.developed_relationships.help_text %}<div class="help-text">{{ form.developed_relationships.help_text }}</div>{% endif %}
      <div class="clearfix"></div>
    </div>

    <div class="form-group {{ form.overcame_problem.errors|yesno:'error,' }}">
      {{ form.overcame_problem.errors }}
      <div class="col-sm-7 col-xs-12">{{ form.overcame_problem.label_tag }}</div>
      <div class="col-sm-5 col-xs-12">{{ form.overcame_problem }}</div>
      {% if form.overcame_problem.help_text %}<div class="help-text">{{ form.overcame_problem.help_text }}</div>{% endif %}
      <div class="clearfix"></div>
    </div>

    <h3>Thinking about the export value recorded in this form</h3>

    <div class="form-group {{ form.expected_portion_without_help.errors|yesno:'error,' }}">
      {{ form.expected_portion_without_help.errors }}
      {{ form.expected_portion_without_help.label_tag }}
      {{ form.expected_portion_without_help }}
      {% if form.expected_portion_without_help.help_text %}<div class="help-text">{{ form.expected_portion_without_help.help_text }}</div>{% endif %}
    </div>

    <div class="form-group {{ form.involved_state_enterprise.errors|yesno:'error,' }}">
      {{ form.involved_state_enterprise.errors }}
      {{ form.involved_state_enterprise.label_tag }}
      {{ form.involved_state_enterprise }}
      {% if form.involved_state_enterprise.help_text %}<div class="help-text">{{ form.involved_state_enterprise.help_text }}</div>{% endif %}
      <div class="clearfix"></div>
    </div>

    <div class="form-group {{ form.interventions_were_prerequisite.errors|yesno:'error,' }}">
      {{ form.interventions_were_prerequisite.errors }}
      {{ form.interventions_were_prerequisite.label_tag }}
      {{ form.interventions_were_prerequisite }}
      {% if form.interventions_were_prerequisite.help_text %}<div class="help-text">{{ form.interventions_were_prerequisite.help_text }}</div>{% endif %}
      <div class="clearfix"></div>
    </div>

    <div class="form-group {{ form.support_improved_speed.errors|yesno:'error,' }}">
      {{ form.support_improved_speed.errors }}
      {{ form.support_improved_speed.label_tag }}
      {{ form.support_improved_speed }}
      {% if form.support_improved_speed.help_text %}<div class="help-text">{{ form.support_improved_speed.help_text }}</div>{% endif %}
      <div class="clearfix"></div>
    </div>

    <h3>Your export experience</h3>

    <div class="form-group {{ form.last_export.errors|yesno:'error,' }}">
      {{ form.last_export.errors }}
      {{ form.last_export.label_tag }}
      {{ form.last_export }}
      {% if form.last_export.help_text %}<div class="help-text">{{ form.last_export.help_text }}</div>{% endif %}
    </div>

    <div class="form-group {{ form.company_was_at_risk_of_not_exporting.errors|yesno:'error,' }}">
      {{ form.company_was_at_risk_of_not_exporting.errors }}
      {{ form.company_was_at_risk_of_not_exporting.label_tag }}
      {{ form.company_was_at_risk_of_not_exporting }}
      {% if form.company_was_at_risk_of_not_exporting.help_text %}<div class="help-text">{{ form.company_was_at_risk_of_not_exporting.help_text }}</div>{% endif %}
      <div class="clearfix"></div>
    </div>

    <div class="form-group {{ form.has_explicit_export_plans.errors|yesno:'error,' }}">
      {{ form.has_explicit_export_plans.errors }}
      {{ form.has_explicit_export_plans.label_tag }}
      {{ form.has_explicit_export_plans }}
      {% if form.has_explicit_export_plans.help_text %}<div class="help-text">{{ form.has_explicit_export_plans.help_text }}</div>{% endif %}
      <div class="clearfix"></div>
    </div>

    <div class="form-group {{ form.has_enabled_expansion_into_new_market.errors|yesno:'error,' }}">
      {{ form.has_enabled_expansion_into_new_market.errors }}
      {{ form.has_enabled_expansion_into_new_market.label_tag }}
      {{ form.has_enabled_expansion_into_new_market }}
      {% if form.has_enabled_expansion_into_new_market.help_text %}<div class="help-text">{{ form.has_enabled_expansion_into_new_market.help_text }}</div>{% endif %}
      <div class="clearfix"></div>
    </div>

    <div class="form-group {{ form.has_increased_exports_as_percent_of_turnover.errors|yesno:'error,' }}">
      {{ form.has_increased_exports_as_percent_of_turnover.errors }}
      {{ form.has_increased_exports_as_percent_of_turnover.label_tag }}
      {{ form.has_increased_exports_as_percent_of_turnover }}
      {% if form.has_increased_exports_as_percent_of_turnover.help_text %}<div class="help-text">{{ form.has_increased_exports_as_percent_of_turnover.help_text }}</div>{% endif %}
      <div class="clearfix"></div>
    </div>

    <div class="form-group {{ form.has_enabled_expansion_into_existing_market.errors|yesno:'error,' }}">
      {{ form.has_enabled_expansion_into_existing_market.errors }}
      {{ form.has_enabled_expansion_into_existing_market.label_tag }}
      {{ form.has_enabled_expansion_into_existing_market }}
      {% if form.has_enabled_expansion_into_existing_market.help_text %}<div class="help-text">{{ form.has_enabled_expansion_into_existing_market.help_text }}</div>{% endif %}
      <div class="clearfix"></div>
    </div>

    <div class="form-group {{ form.comments.errors|yesno:'error,' }}">
      {{ form.comments.errors }}
      {{ form.comments.label_tag }}
      <div class="clearfix"></div>
      <div class="help-text">
        <p>
          In this box, please let us know about anything we should change in the
          information we've recorded for the win, the support you received from
          UKTI &amp; FCO colleagues, and your feedback on this service.
        </p>
        <p>
          Please also let us know if you'd be interested in helping us produce a
          case study about this win.
        </p>
      </div>
      {{ form.comments }}
      {% if form.comments.help_text %}<div class="help-text">{{ form.comments.help_text }}</div>{% endif %}
    </div>

    <div class="form-group {{ form.name.errors|yesno:'error,' }}">
      {{ form.name.errors }}
      {{ form.name.label_tag }}
      {{ form.name }}
      {% if form.name.help_text %}<div class="help-text">{{ form.name.help_text }}</div>{% endif %}
    </div>

    {{ form.win }}

    {% csrf_token %}

    <div class="end-buttons">
      <input type="submit" name="s" value="Submit" class="btn btn-primary" />
    </div>

  </form>

{% endblock content %}


{% block js_footer %}
  <script>
    var star_fields = [
      "access_to_information",
      "improved_profile",
      "access_to_contacts",
      "developed_relationships",
      "overcame_problem",
      "gained_confidence"
    ];
    for (var i = 0; i < star_fields.length; i++) {
      $("#id_" + star_fields[i]).rating({
        "theme": "",
        "showCaption": false,
        "animate": false,
        "size": "xs",
        "step": 1,
        "showClear": true
      });
    }
  </script>
{% endblock js_footer %}
