{% extends 'ui/base.html' %}


{% load staticfiles %}
{% load humanize %}


{% block css %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'contrib/stars/css/star-rating.min.css' %}" />
  <style>
    .form-group label {
      float: left;
      max-width: 80%;
    }
    span.glyphicon {
      font-size: 1.4em;
    }
    .tooltip-inner {
      font-size: 1.2em;
    }
/*    .required {
      color: #d00;
      float: left;
      padding-right: .2em;
    }*/
    #id_description {
      height: 9em;
    }
    .help-text {
      display: block;
    }

    .pad-top {
      margin-top: 2em;
    }

    .win-details dt {
      width: 70%;
      text-align: left;
      padding-top: 0.5em;
    }

    .win-details dd {
      padding-top: 0.5em;
    }
  </style>
{% endblock css %}



{% block js_header %}
  {{ block.super }}
  <script language="JavaScript" src="{% static 'contrib/stars/js/star-rating.min.js' %}"></script>
{% endblock js_header %}

{% block header %}
  <h1>
    Give your feedback on our support
  </h1>
{% endblock header %}

{% block subheader %}{% endblock subheader %}


{% block content %}
      
    <p class="lead">
      We&#39;re asking UK companies about our export support services to help us improve. Tell us how our support contributed to your export success.
    </p>
    <p>
      If you encounter any problems completing this form, please use the feedback button above.
    </p>

  {% if form.errors %}
    <div class="alert alert-danger">
      There were some errors with your submission.  Please see below.
    </div>
    {{ form.non_field_errors }}
  {% endif %}

  <h2 class="pad-top">Details of your recent export success</h2>


  <dl class="dl-horizontal win-details">

      <dt>Date business won</dt>
      <dd>{{ win.date.value|date:'m/Y' }}</dd>

      <dt>Country where the business was won</dt>
      <dd>{{ win.country.value }}</dd>

    {% if win.business_type.value %}

        <dt>Business deal type</dt>
        <dd>{{ win.business_type.value }}</dd>

    {% endif %}

    {% if win.total_expected_export_value.value %}

        <dt>Export value expected over the next 5 years</dt>
        <dd>&pound;{{ win.total_expected_export_value.value|intcomma }}</dd>

    {% endif %}

    {% if win.total_expected_non_export_value.value %}

        <dt>Non-export value expected over the next 5 years</dt>
        <dd>&pound;{{ win.total_expected_non_export_value.value|intcomma }}</dd>

    {% endif %}
  </dl>

  <div class="">
    <h4>How we supported you</h4>
   <p>{{ win.description.value|linebreaks }}</p>
  </li>

  <form method="post" id="confirmation-form">

  <h4>Please confirm these details are correct:</h4>

  {% include "wins/confirmation-buttons.html" with field=form.agree_with_win label="Are the details of the win shown above correct?" trueLabel="Yes, these details are correct" falseLabel="No, I need to amend them" %}

  <div class="form-group" id="confirm-false-info">

    <label for="confirm-false-details">Please tell us how these details should be changed</label>
    <textarea name="confirm-details" id="confirm-false-details" rows="4" class="form-control"></textarea>
  </div>


    <h2 class="pad-top">Our support</h2>

    <p>
      Please rate your experiences below, where 1 star means to no extent and 5 stars means
      to a significant extent.  Only answer those questions that apply.
    </p>

    {% include "wins/confirmation-field-stars.html" with field=form.our_support %}

    <h4>As a result of our help, did you:</h4>

    {% include "wins/confirmation-field-stars.html" with field=form.access_to_contacts label="Gain access to contacts not otherwise accessible?" %}
    {% include "wins/confirmation-field-stars.html" with field=form.access_to_information label="Gain access to information or improved understanding of the country?" %}
    {% include "wins/confirmation-field-stars.html" with field=form.improved_profile label="Improve your profile or credibility in the country?" %}
    {% include "wins/confirmation-field-stars.html" with field=form.gained_confidence label="Gain the confidence to explore or expand in the country?" %}
    {% include "wins/confirmation-field-stars.html" with field=form.developed_relationships label="Develop and/or nurture critical relationships?" %}
    {% include "wins/confirmation-field-stars.html" with field=form.overcame_problem label="Overcome a problem in the country (eg legal, regulatory, commercial)?" %}

    <h3 class="pad-top">Thinking about the expected export value above</h3>

    <!-- TODO: Split the options and text so it reads:
      
    -->
    {% include "wins/confirmation-field.html" with field=form.expected_portion_without_help %}
    {% include "wins/confirmation-buttons-right.html" with field=form.involved_state_enterprise %}
    {% include "wins/confirmation-buttons-right.html" with field=form.interventions_were_prerequisite %}
    {% include "wins/confirmation-buttons-right.html" with field=form.support_improved_speed %}

    <h3 class="pad-top">Your export experience</h3>

    {% include "wins/confirmation-field.html" with field=form.last_export %}
    {% include "wins/confirmation-buttons-right.html" with field=form.company_was_at_risk_of_not_exporting %}
    {% include "wins/confirmation-buttons-right.html" with field=form.has_explicit_export_plans %}
    {% include "wins/confirmation-buttons-right.html" with field=form.has_enabled_expansion_into_existing_market %}
    {% include "wins/confirmation-buttons-right.html" with field=form.has_enabled_expansion_into_new_market %}
    {% include "wins/confirmation-buttons-right.html" with field=form.has_increased_exports_as_percent_of_turnover %}

    <hr>
  
    <!-- TODO: Make field shorter in length -->
    {% include "wins/confirmation-field.html" with field=form.name label="Your name:" reduced="true" %}

    <!-- TODO: Make checkbox
    I would be willing to have the success featured as a UKTI / Exporting is GREAT case study
    -->
    {% include "wins/confirmation-checkbox.html" with field=form.case_study_willing label="I would be willing to have the success featured as a UKTI / Exporting is GREAT case study" %}

    {% include "wins/confirmation-field.html" with field=form.comments help="<br>Please enter any comments you would like to make regarding the value and nature of the win, the support you received from UKTI and FCO staff, and any  feedback regarding the way we collect this information. Your comments may be shared with the individuals and teams who have supported you."%}

    {{ form.win }}

    {% csrf_token %}

    <div class="end-buttons">
      <input type="submit" name="s" value="Submit" class="btn btn-primary" />
    </div>

  </form>

{% endblock content %}


{% block js_footer %}
  <script>
      $( '.star-rating-container select' ).rating({
        theme: "",
        showCaption: true,
        animate: false,
        size: 'xs',
        step: 1,
        showClear: true,
        hoverOnClear: false,
        clearCaption: 'Not rated',
        starCaptionClasses: {
          0: 'label label-default',
          1: 'label label-default',
          2: 'label label-default',
          3: 'label label-default',
          4: 'label label-default',
          5: 'label label-default'
        },
        starCaptions: {
          1: 'Didn\'t help',
          2: 'Very little',
          3: 'Some extent',
          4: 'Great extent',
          5: 'Completely'
        }
      });

      (function(){

        var $infoBox = $( '#confirm-false-info' );
        var $agree = $( 'form input[name={{ form.agree_with_win.name }}]' );
        var $confirmationForm = $( '#confirmation-form' );
        var $confirmFalseComments = $( '#confirm-false-details' );
        var $comments = $( 'form textarea[ name={{form.comments.name }} ]' );

        //hide the comments box on load
        $infoBox.hide();

        //Toggle the comments box when the value of the radio changes
        $agree.on( 'change', function( e ){

          if( $agree[0].checked ){

            $infoBox.hide();

          } else {

            $infoBox.show();
          }
        } );

        //When the form gets submitted copy the values from the top comments box into the bottom one
        $confirmationForm.on( 'submit', function( e ){

          var confirmFalseText = $confirmFalseComments.val();

          if( confirmFalseText ){

            $comments.val( confirmFalseText + "\n\n" + $comments.val() );
          }
        } );
      }());
  </script>
{% endblock js_footer %}
