{% extends 'ui/base.html' %}


{% load staticfiles %}


{% comment %}
    Notes from Claire's email:

    Thank you for taking the time to complete this form.  The information you provide will remain confidential.
    If you are willing to be consider publicity opportunities about your businesses success, please tick this box. We may contact you for more details and with relevant opportunities, that you can review on a case by case basis.

    * Suggest the following additional question for tab 2 as this info could be interesting anecdotally re ‘the movement’. We tend to review all those that tick that they are interested in publicity opps.
      o   Did any of the following inspire you to export? (tick any that are relevant)
        §  TV , radio or online advert
        §  Story in newspaper/magazine
        §  Word of mouth
        §  Event
{% endcomment %}

{% block content %}

  {% if form.errors %}
    <div class="alert alert-danger">
      There were some errors with your submission.  Please see below.
    </div>
    {{ form.non_field_errors }}
  {% endif %}

  <form method="post">

    {{ form.as_p }}

    {% csrf_token %}
    <div class="end-buttons">
      <input type="submit" name="s" value="Create Record & Send Email to Customer" class="btn btn-primary" />
    </div>

  </form>

{% endblock content %}
