{% extends 'ui/base.html' %}

{% load staticfiles %}
{% load humanize %}

{% block title %} - Your export wins{% endblock %}
{% block header %}Your export wins{% endblock %}

{% block content %}

{% comment %}
<a href="{% url 'win-details' win.id %}">{{ win.company_name }}</a>
<a href="{% url 'win-complete' win.id %}" class="btn btn-primary">send to customer</a>
{% endcomment %}

    <div class="my-wins">

        {% if not unsent and not sent and not responded %}

            <div class="text-center">

                <p class="lead">You haven&#39;t yet created any wins yet.</p>

                <a href="{% url 'new-win' %}" class="btn btn-primary btn-responsive btn-lg">Create new win</a>
            </div>

        {% else %}

            <a href="{% url 'new-win' %}" class="btn btn-primary btn-responsive">Create new win</a>

            <h3 class="my-wins-header">Unsent wins <span class="header-count">({{ unsent | length }})</span></h3>

             {% if not unsent %}

                <p class="text-center well">You don&#39;t have any unsent wins.</p>

            {% else %}

                <table class="table table-striped unsent-wins">
                    <thead>
                        <tr>
                            <th>UK Company</th>
                            <th>Export to</th>
                            <th>Customer name</th>
                            <th class="text-right">Export amount</th>
                            <th>Date won</th>
                            <th>Last modified <span class="glyphicon glyphicon-option-vertical" aria-hidden="true" title="Sorted by this field"></span><span class="sr-only">(Sorted by this field)</span></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for win in unsent %}
                        <tr>
                            <td class="company-name"><a href="{% url 'win-details' win.id %}" title="View win details">{{ win.company_name }}</a></td>
                            <td class="country-name">{{ win.country_name }}</td>
                            <td class="customer-name">{{ win.customer_name }}</td>
                            <td class="export-value text-right">&pound;{{ win.total_expected_export_value | intcomma }}</td>
                            <td class="date">{{ win.date | date:'M Y' }}</td>
                            <td class="last-modified">{{ win.last_modified | date:"d M Y" }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            {% endif %}


            <h3 class="my-wins-header">Sent to customer <span class="header-count">({{ sent | length }})</span></h3>

             {% if not sent %}

                <p class="text-center well">You haven&#39;t sent any wins.</p>

            {% else %}

                <table class="table table-striped sent-to-customer-wins">
                    <thead>
                        <tr>
                            <th>UK Company</th>
                            <th>Export to</th>
                            <th>Customer name</th>
                            <th class="text-right">Export amount</th>
                            <th>Date won</th>
                            <th>Date sent <span class="glyphicon glyphicon-option-vertical" aria-hidden="true" title="Sorted by this field"></span><span class="sr-only">(Sorted by this field)</span></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for win in sent %}
                        <tr>
                           <td class="company-name"><a href="{% url 'win-details' win.id %}" title="View win details">{{ win.company_name }}</a></td>
                           <td class="country-name">{{ win.country_name }}</td>
                           <td class="customer-name">{{ win.customer_name }}</td>
                           <td class="export-value text-right">&pound;{{ win.total_expected_export_value | intcomma }}</td>
                           <td class="date">{{ win.date | date:'M Y' }}</td>
                           <td class="date-sent">{{ win.sent.0 | date:'d M Y' }}{# should this be first or last time it was sent? #}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            {% endif %}


            <h3 class="my-wins-header">Customer responded <span class="header-count">({{ responded | length }})</span></h3>

            {% if not responded %}

                <p class="text-center well">You don&#39;t have any responses.</p>

            {% else %}

                <table class="table table-striped responded-wins">
                    <thead>
                        <tr>
                            <th>UK Company <span class="glyphicon glyphicon-option-vertical" aria-hidden="true" title="Sorted by this field"></span><span class="sr-only">(Sorted by this field)</span></th>
                            <th>Export to</th>
                            <th class="text-right">Value attributed<br> to our help</th>
                            <th class="text-right">Export amount</th>
                            <th>Date won</th>
                            <th>Date responded</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for win in responded %}
                        <tr>
                            <td class="company-name"><a href="{% url 'win-details' win.id %}" title="View win details">{{ win.company_name }}</a></td>
                            <td class="country-name">{{ win.country_name }}</td>
                            <td class="our-help text-right">{{ win.responded.our_help }}</td>
                            <td class="export-value text-right">&pound;{{ win.total_expected_export_value | intcomma }}</td>
                            <td class="date">{{ win.date | date:'M Y' }}</td>
                            <td class="response-date">{{ win.responded.created | date:"d M Y" }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            {% endif %}

            <a href="{% url 'new-win' %}" class="btn btn-primary btn-responsive new-win-bottom-btn">Create new win</a>

        {% endif %}

    </div>

{% endblock content %}