{% extends 'ui/base.html' %}

{% load staticfiles %}
{% load humanize %}

{% block title %} - Create a new Win{% endblock %}
{% block header %}Create a new Win{% endblock %}

{% block content %}

		In which Financial Year was the business won? <br><br>

		<a href="{% url 'new-win-year' 2016 %}" class="btn btn-primary btn-responsive new-win-bottom-btn">2016/17</a>
		<br><br>
		<a href="{% url 'new-win-year' 2017 %}" class="btn btn-primary btn-responsive new-win-bottom-btn">2017/18</a>
		<br><br>
		<a href="{% url 'new-win-year' 2018 %}" class="btn btn-primary btn-responsive new-win-bottom-btn">2018/19</a>

{% endblock content %}
