{% extends 'ui/base.html' %}


{% load staticfiles %}


{% block css %}
  {{ block.super }}
  <style>
    table.advisors tr th {
       vertical-align: middle;
    }
    span.glyphicon {
      font-size: 1.4em;
    }
    .tooltip-inner {
      font-size: 1.2em;
    }
  </style>
{% endblock css %}


{% block subheader %}
  Lead officer to complete
{% endblock subheader %}


{% block content %}

  {% if form.errors %}
    <div class="alert alert-danger">
      There were some errors with your submission.  Please see below.
    </div>
    {{ form.non_field_errors }}
  {% endif %}

  <form method="post">

    {% include "wins/new-field.html" with field=form.lead_officer_name tooltip="This is a test tooltip" %}
    {% include "wins/new-field.html" with field=form.team_type %}
    {% include "wins/new-field.html" with field=form.hq_team %}
    {% include "wins/new-field.html" with field=form.location %}
    {% include "wins/new-field.html" with field=form.line_manager_name %}

    <hr />
    <h3>Details of Export Win</h3>

    {% include "wins/new-field.html" with field=form.company_name %}
    {% include "wins/new-field.html" with field=form.cdms_reference %}
    {% include "wins/new-field.html" with field=form.customer_name %}
    {% include "wins/new-field.html" with field=form.customer_job_title %}
    {% include "wins/new-field.html" with field=form.customer_email_address %}
    {% include "wins/new-field.html" with field=form.customer_location %}

    <hr />

    {% include "wins/new-field.html" with field=form.business_type %}
    {% include "wins/new-field.html" with field=form.name_of_customer %}
    {% include "wins/new-field.html" with field=form.name_of_export %}
    {% include "wins/new-field.html" with field=form.description %}
    {% include "wins/new-field.html" with field=form.type %}
    {% include "wins/new-field.html" with field=form.date %}
    {% include "wins/new-field.html" with field=form.country %}

    <hr />
    <h3>Exports</h3>

    {% include "wins/new-field.html" with field=form.total_expected_export_value %}

    <table class="table table-responsive">
      <tr>
        <th>{{ form.breakdown_exports_0.label_tag }}</th>
        <th>{{ form.breakdown_exports_1.label_tag }}</th>
        <th>{{ form.breakdown_exports_2.label_tag }}</th>
        <th>{{ form.breakdown_exports_3.label_tag }}</th>
        <th>{{ form.breakdown_exports_4.label_tag }}</th>
      </tr>
      <tr>
        <td {% if form.breakdown_exports_0.errors %} class="error"{% endif %}>{{ form.breakdown_exports_0 }}</td>
        <td {% if form.breakdown_exports_1.errors %} class="error"{% endif %}>{{ form.breakdown_exports_1 }}</td>
        <td {% if form.breakdown_exports_2.errors %} class="error"{% endif %}>{{ form.breakdown_exports_2 }}</td>
        <td {% if form.breakdown_exports_3.errors %} class="error"{% endif %}>{{ form.breakdown_exports_3 }}</td>
        <td {% if form.breakdown_exports_4.errors %} class="error"{% endif %}>{{ form.breakdown_exports_4 }}</td>
      </tr>
    </table>

    <hr />

    <h3>Non-Exports</h3>

    {% include "wins/new-field.html" with field=form.total_expected_non_export_value %}

    <table class="table table-responsive">
      <tr>
        <th>{{ form.breakdown_non_exports_0.label_tag }}</th>
        <th>{{ form.breakdown_non_exports_1.label_tag }}</th>
        <th>{{ form.breakdown_non_exports_2.label_tag }}</th>
        <th>{{ form.breakdown_non_exports_3.label_tag }}</th>
        <th>{{ form.breakdown_non_exports_4.label_tag }}</th>
      </tr>
      <tr>
        <td {% if form.breakdown_non_exports_0.errors %} class="error"{% endif %}>{{ form.breakdown_non_exports_0 }}</td>
        <td {% if form.breakdown_non_exports_1.errors %} class="error"{% endif %}>{{ form.breakdown_non_exports_1 }}</td>
        <td {% if form.breakdown_non_exports_2.errors %} class="error"{% endif %}>{{ form.breakdown_non_exports_2 }}</td>
        <td {% if form.breakdown_non_exports_3.errors %} class="error"{% endif %}>{{ form.breakdown_non_exports_3 }}</td>
        <td {% if form.breakdown_non_exports_4.errors %} class="error"{% endif %}>{{ form.breakdown_non_exports_4 }}</td>
      </tr>
    </table>

    <hr />

    {% include "wins/new-field.html" with field=form.goods_vs_services %}
    {% include "wins/new-field.html" with field=form.sector %}
    {% include "wins/new-field.html" with field=form.hvo_programme %}
    {% include "wins/new-field.html" with field=form.has_hvo_specialist_involvement %}
    {% include "wins/new-field.html" with field=form.is_prosperity_fund_related %}
    {% include "wins/new-field.html" with field=form.is_e_exported %}

    <hr />

    <h3>
      Contributing Teams and Advisers
      <p>One individual or team per row.</p>
    </h3>

    <table id="advisors" class="advisors table table-responsive">
      <tr>
        <th>Name</th>
        <th>Team Type</th>
        <th>HQ Team<br />Region or Post</th>
        <th>Location</th>
      </tr>
      <tr class="advisor">
        <td>{{ form.advisor_0_name }}</td>
        <td class="team-type">{{ form.advisor_0_team_type }}</td>
        <td class="team-hq_team">{{ form.advisor_0_hq_team }}</td>
        <td>{{ form.advisor_0_location }}</td>
      </tr>
      <tr class="advisor">
        <td>{{ form.advisor_1_name }}</td>
        <td class="team-type">{{ form.advisor_1_team_type }}</td>
        <td class="team-hq_team">{{ form.advisor_1_hq_team }}</td>
        <td>{{ form.advisor_1_location }}</td>
      </tr>
      <tr class="advisor">
        <td>{{ form.advisor_2_name }}</td>
        <td class="team-type">{{ form.advisor_2_team_type }}</td>
        <td class="team-hq_team">{{ form.advisor_2_hq_team }}</td>
        <td>{{ form.advisor_2_location }}</td>
      </tr>
      <tr class="advisor">
        <td>{{ form.advisor_3_name }}</td>
        <td class="team-type">{{ form.advisor_3_team_type }}</td>
        <td class="team-hq_team">{{ form.advisor_3_hq_team }}</td>
        <td>{{ form.advisor_3_location }}</td>
      </tr>
      <tr class="advisor">
        <td>{{ form.advisor_4_name }}</td>
        <td class="team-type">{{ form.advisor_4_team_type }}</td>
        <td class="team-hq_team">{{ form.advisor_4_hq_team }}</td>
        <td>{{ form.advisor_4_location }}</td>
      </tr>
    </table>

    <hr />

    {% include "wins/new-field.html" with field=form.type_of_support_1 %}
    {% include "wins/new-field.html" with field=form.type_of_support_2 %}
    {% include "wins/new-field.html" with field=form.type_of_support_3 %}
    {% include "wins/new-field.html" with field=form.associated_programme_1 %}
    {% include "wins/new-field.html" with field=form.associated_programme_2 %}
    {% include "wins/new-field.html" with field=form.associated_programme_3 %}

    <hr />

    {# these manually place the label before the field #}

    <div class="form-group {{ form.is_personally_confirmed.errors|yesno:'error,' }}">
      {{ form.is_personally_confirmed.errors }}
      {{ form.is_personally_confirmed }}
      {{ form.is_personally_confirmed.label_tag }}
      {% if form.is_personally_confirmed.help_text %}<div class="help-text">{{ form.is_personally_confirmed.help_text }}</div>{% endif %}
      <div class="clearfix"></div>
    </div>

    <div class="form-group {{ form.is_line_manager_confirmed.errors|yesno:'error,' }}">
      {{ form.is_line_manager_confirmed.errors }}
      {{ form.is_line_manager_confirmed }}
      {{ form.is_line_manager_confirmed.label_tag }}
      {% if form.is_line_manager_confirmed.help_text %}<div class="help-text">{{ form.is_line_manager_confirmed.help_text }}</div>{% endif %}
      <div class="clearfix"></div>
    </div>

    {% csrf_token %}
    <div class="end-buttons">
      <input type="submit" name="s" value="Submit Record" class="btn btn-primary" />
    </div>

  </form>
{% endblock content %}


{% block js_footer %}
  <script>
  $(function() {

    // Initialise tooltips
    $('[data-toggle="tooltip"]').tooltip({
        placement: 'top'
    });

    // Hide temporary business type
    $("option:contains('Other (TEMPORARY)')").remove();

    // Auto filter the hq-team lists

    // Officer
    $("#id_team_type").on("change", function(){
      var type = $(this).val();
      $("#id_hq_team option").addClass("hidden");
      $("#id_hq_team option[value^=" + type + "]").removeClass("hidden");
      $("#id_hq_team").val($("#id_hq_team option[value^=" + type + "]").first().val());
    });

    // Advisor(s)
    $("#advisors tr.advisor td.team-type select").on("change", function(){
      var $this = $(this);
      var type = $this.val();
      var i = $this.attr("id").replace("id_advisor_", "").replace("_team_type", "");
      $("#id_advisor_" + i + "_hq_team option").addClass("hidden");
      $("#id_advisor_" + i + "_hq_team option[value^=" + type + "]").removeClass("hidden");
      $("#id_advisor_" + i + "_hq_team").val($("#id_advisor_" + i + "_hq_team option[value^=" + type + "]").first().val());
    });
  });
  </script>
{% endblock js_footer %}