{% extends 'ui/base.html' %}


{% load staticfiles %}


{% block css %}
  {{ block.super }}
  <style>
    table.advisors tr th {
       vertical-align: middle;
    }
  </style>
{% endblock css %}


{% block subheader %}
  Lead officer to complete
{% endblock subheader %}


{% block content %}

  {% if form.errors %}
    <div class="alert alert-danger">
      There were some errors with your submission.  Please see below.
    </div>
    {{ form.non_field_errors }}
  {% endif %}

  <form method="post">

    <div class="form-group {{ form.lead_officer_name.errors|yesno:'error,' }}">
      {{ form.lead_officer_name.errors }}
      {{ form.lead_officer_name.label_tag }}
      {{ form.lead_officer_name }}
      {% if form.lead_officer_name.help_text %}<div class="help-text">{{ form.lead_officer_name.help_text }}</div>{% endif %}
    </div>

    <div class="form-group {{ form.team_type.errors|yesno:'error,' }}">
      {{ form.team_type.errors }}
      {{ form.team_type.label_tag }}
      {{ form.team_type }}
      {% if form.team_type.help_text %}<div class="help-text">{{ form.team_type.help_text }}</div>{% endif %}
    </div>

    <div class="form-group {{ form.hq_team.errors|yesno:'error,' }}">
      {{ form.hq_team.errors }}
      {{ form.hq_team.label_tag }}
      {{ form.hq_team }}
      {% if form.hq_team.help_text %}<div class="help-text">{{ form.hq_team.help_text }}</div>{% endif %}
    </div>

    <div class="form-group {{ form.location.errors|yesno:'error,' }}">
      {{ form.location.errors }}
      {{ form.location.label_tag }}
      {{ form.location }}
      {% if form.location.help_text %}<div class="help-text">{{ form.location.help_text }}</div>{% endif %}
    </div>

    <div class="form-group {{ form.line_manager_name.errors|yesno:'error,' }}">
      {{ form.line_manager_name.errors }}
      {{ form.line_manager_name.label_tag }}
      {{ form.line_manager_name }}
      {% if form.line_manager_name.help_text %}<div class="help-text">{{ form.line_manager_name.help_text }}</div>{% endif %}
    </div>

    <hr />

    <h3>Details of Export Win</h3>
    <div class="form-group {{ form.company_name.errors|yesno:'error,' }}">
      {{ form.company_name.errors }}
      {{ form.company_name.label_tag }}
      {{ form.company_name }}
      {% if form.company_name.help_text %}<div class="help-text">{{ form.company_name.help_text }}</div>{% endif %}
    </div>

    <div class="form-group {{ form.cdms_reference.errors|yesno:'error,' }}">
      {{ form.cdms_reference.errors }}
      {{ form.cdms_reference.label_tag }}
      {{ form.cdms_reference }}
      {% if form.cdms_reference.help_text %}<div class="help-text">{{ form.cdms_reference.help_text }}</div>{% endif %}
    </div>

    <div class="form-group {{ form.customer_name.errors|yesno:'error,' }}">
      {{ form.customer_name.errors }}
      {{ form.customer_name.label_tag }}
      {{ form.customer_name }}
      {% if form.customer_name.help_text %}<div class="help-text">{{ form.customer_name.help_text }}</div>{% endif %}
    </div>

    <div class="form-group {{ form.customer_job_title.errors|yesno:'error,' }}">
      {{ form.customer_job_title.errors }}
      {{ form.customer_job_title.label_tag }}
      {{ form.customer_job_title }}
      {% if form.customer_job_title.help_text %}<div class="help-text">{{ form.customer_job_title.help_text }}</div>{% endif %}
    </div>

    <div class="form-group {{ form.customer_email_address.errors|yesno:'error,' }}">
      {{ form.customer_email_address.errors }}
      {{ form.customer_email_address.label_tag }}
      {{ form.customer_email_address }}
      {% if form.customer_email_address.help_text %}<div class="help-text">{{ form.customer_email_address.help_text }}</div>{% endif %}
    </div>

    <div class="form-group {{ form.customer_location.errors|yesno:'error,' }}">
      {{ form.customer_location.errors }}
      {{ form.customer_location.label_tag }}
      {{ form.customer_location }}
      {% if form.customer_location.help_text %}<div class="help-text">{{ form.customer_location.help_text }}</div>{% endif %}
    </div>

    <hr />

    <div class="form-group {{ form.business_type.errors|yesno:'error,' }}">
      {{ form.business_type.errors }}
      {{ form.business_type.label_tag }}
      {{ form.business_type }}
      {% if form.business_type.help_text %}<div class="help-text">{{ form.business_type.help_text }}</div>{% endif %}
    </div>

    <div class="form-group {{ form.name_of_customer.errors|yesno:'error,' }}">
      {{ form.name_of_customer.errors }}
      {{ form.name_of_customer.label_tag }}
      {{ form.name_of_customer }}
      {% if form.name_of_customer.help_text %}<div class="help-text">{{ form.name_of_customer.help_text }}</div>{% endif %}
    </div>

    <div class="form-group {{ form.name_of_export.errors|yesno:'error,' }}">
      {{ form.name_of_export.errors }}
      {{ form.name_of_export.label_tag }}
      {{ form.name_of_export }}
      {% if form.name_of_export.help_text %}<div class="help-text">{{ form.name_of_export.help_text }}</div>{% endif %}
    </div>

    <div class="form-group {{ form.description.errors|yesno:'error,' }}">
      {{ form.description.errors }}
      {{ form.description.label_tag }}
      {{ form.description }}
      {% if form.description.help_text %}<div class="help-text">{{ form.description.help_text }}</div>{% endif %}
    </div>

    <div class="form-group {{ form.type.errors|yesno:'error,' }}">
      {{ form.type.errors }}
      {{ form.type.label_tag }}
      {{ form.type }}
      {% if form.type.help_text %}<div class="help-text">{{ form.type.help_text }}</div>{% endif %}
    </div>

    <div class="form-group {{ form.date.errors|yesno:'error,' }}">
      {{ form.date.errors }}
      {{ form.date.label_tag }}
      {{ form.date }}
      {% if form.date.help_text %}<div class="help-text">{{ form.date.help_text }}</div>{% endif %}
    </div>

    <div class="form-group {{ form.country.errors|yesno:'error,' }}">
      {{ form.country.errors }}
      {{ form.country.label_tag }}
      {{ form.country }}
      {% if form.country.help_text %}<div class="help-text">{{ form.country.help_text }}</div>{% endif %}
    </div>

    <hr />

    <h3>Exports</h3>

    <div class="form-group {{ form.total_expected_export_value.errors|yesno:'error,' }}">
      {{ form.total_expected_export_value.errors }}
      {{ form.total_expected_export_value.label_tag }}
      {{ form.total_expected_export_value }}
      {% if form.total_expected_export_value.help_text %}<div class="help-text">{{ form.total_expected_export_value.help_text }}</div>{% endif %}
    </div>

    <table class="table table-responsive">
      <tr>
        <th>{{ form.breakdown_exports_0.label_tag }}</th>
        <th>{{ form.breakdown_exports_1.label_tag }}</th>
        <th>{{ form.breakdown_exports_2.label_tag }}</th>
        <th>{{ form.breakdown_exports_3.label_tag }}</th>
        <th>{{ form.breakdown_exports_4.label_tag }}</th>
      </tr>
      <tr>
        <td {% if form.breakdown_exports_0.errors %} class="error"{% endif %}>{{ form.breakdown_exports_0 }}</td>
        <td {% if form.breakdown_exports_1.errors %} class="error"{% endif %}>{{ form.breakdown_exports_1 }}</td>
        <td {% if form.breakdown_exports_2.errors %} class="error"{% endif %}>{{ form.breakdown_exports_2 }}</td>
        <td {% if form.breakdown_exports_3.errors %} class="error"{% endif %}>{{ form.breakdown_exports_3 }}</td>
        <td {% if form.breakdown_exports_4.errors %} class="error"{% endif %}>{{ form.breakdown_exports_4 }}</td>
      </tr>
    </table>

    <hr />

    <h3>Non-Exports</h3>

    <div class="form-group {{ form.total_expected_non_export_value.errors|yesno:'error,' }}">
      {{ form.total_expected_non_export_value.errors }}
      {{ form.total_expected_non_export_value.label_tag }}
      {{ form.total_expected_non_export_value }}
      {% if form.total_expected_non_export_value.help_text %}<div class="help-text">{{ form.total_expected_non_export_value.help_text }}</div>{% endif %}
    </div>

    <table class="table table-responsive">
      <tr>
        <th>{{ form.breakdown_non_exports_0.label_tag }}</th>
        <th>{{ form.breakdown_non_exports_1.label_tag }}</th>
        <th>{{ form.breakdown_non_exports_2.label_tag }}</th>
        <th>{{ form.breakdown_non_exports_3.label_tag }}</th>
        <th>{{ form.breakdown_non_exports_4.label_tag }}</th>
      </tr>
      <tr>
        <td {% if form.breakdown_non_exports_0.errors %} class="error"{% endif %}>{{ form.breakdown_non_exports_0 }}</td>
        <td {% if form.breakdown_non_exports_1.errors %} class="error"{% endif %}>{{ form.breakdown_non_exports_1 }}</td>
        <td {% if form.breakdown_non_exports_2.errors %} class="error"{% endif %}>{{ form.breakdown_non_exports_2 }}</td>
        <td {% if form.breakdown_non_exports_3.errors %} class="error"{% endif %}>{{ form.breakdown_non_exports_3 }}</td>
        <td {% if form.breakdown_non_exports_4.errors %} class="error"{% endif %}>{{ form.breakdown_non_exports_4 }}</td>
      </tr>
    </table>

    <hr />

    <div class="form-group {{ form.goods_vs_services.errors|yesno:'error,' }}">
      {{ form.goods_vs_services.errors }}
      {{ form.goods_vs_services.label_tag }}
      {{ form.goods_vs_services }}
      {% if form.goods_vs_services.help_text %}<div class="help-text">{{ form.goods_vs_services.help_text }}</div>{% endif %}
    </div>

    <div class="form-group {{ form.sector.errors|yesno:'error,' }}">
      {{ form.sector.errors }}
      {{ form.sector.label_tag }}
      {{ form.sector }}
      {% if form.sector.help_text %}<div class="help-text">{{ form.sector.help_text }}</div>{% endif %}
    </div>

    <div class="form-group {{ form.hvo_programme.errors|yesno:'error,' }}">
      {{ form.hvo_programme.errors }}
      {{ form.hvo_programme.label_tag }}
      {{ form.hvo_programme }}
      {% if form.hvo_programme.help_text %}<div class="help-text">{{ form.hvo_programme.help_text }}</div>{% endif %}
      <div class="clearfix"></div>
    </div>

    <div class="form-group {{ form.has_hvo_specialist_involvement.errors|yesno:'error,' }}">
      {{ form.has_hvo_specialist_involvement.errors }}
      {{ form.has_hvo_specialist_involvement.label_tag }}
      {{ form.has_hvo_specialist_involvement }}
      <div class="clearfix"></div>
      {% if form.has_hvo_specialist_involvement.help_text %}<div class="help-text">{{ form.has_hvo_specialist_involvement.help_text }}</div>{% endif %}
    </div>

    <div class="form-group {{ form.is_prosperity_fund_related.errors|yesno:'error,' }}">
      {{ form.is_prosperity_fund_related.errors }}
      {{ form.is_prosperity_fund_related.label_tag }}
      {{ form.is_prosperity_fund_related }}
      {% if form.is_prosperity_fund_related.help_text %}<div class="help-text">{{ form.is_prosperity_fund_related.help_text }}</div>{% endif %}
      <div class="clearfix"></div>
    </div>

    <div class="form-group {{ form.is_e_exported.errors|yesno:'error,' }}">
      {{ form.is_e_exported.errors }}
      {{ form.is_e_exported.label_tag }}
      {{ form.is_e_exported }}
      <div class="clearfix"></div>
      {% if form.is_e_exported.help_text %}<div class="help-text">{{ form.is_e_exported.help_text }}</div>{% endif %}
    </div>

    <hr />

    <h3>
      Contributing Teams and Advisers
      <p>One individual or team per row.</p>
    </h3>

    <table id="advisors" class="advisors table table-responsive">
      <tr>
        <th>Name</th>
        <th>Team Type</th>
        <th>HQ Team<br />Region or Post</th>
        <th>Location</th>
      </tr>
      <tr class="advisor">
        <td>{{ form.advisor_0_name }}</td>
        <td class="team-type">{{ form.advisor_0_team_type }}</td>
        <td class="team-hq_team">{{ form.advisor_0_hq_team }}</td>
        <td>{{ form.advisor_0_location }}</td>
      </tr>
      <tr class="advisor">
        <td>{{ form.advisor_1_name }}</td>
        <td class="team-type">{{ form.advisor_1_team_type }}</td>
        <td class="team-hq_team">{{ form.advisor_1_hq_team }}</td>
        <td>{{ form.advisor_1_location }}</td>
      </tr>
      <tr class="advisor">
        <td>{{ form.advisor_2_name }}</td>
        <td class="team-type">{{ form.advisor_2_team_type }}</td>
        <td class="team-hq_team">{{ form.advisor_2_hq_team }}</td>
        <td>{{ form.advisor_2_location }}</td>
      </tr>
      <tr class="advisor">
        <td>{{ form.advisor_3_name }}</td>
        <td class="team-type">{{ form.advisor_3_team_type }}</td>
        <td class="team-hq_team">{{ form.advisor_3_hq_team }}</td>
        <td>{{ form.advisor_3_location }}</td>
      </tr>
      <tr class="advisor">
        <td>{{ form.advisor_4_name }}</td>
        <td class="team-type">{{ form.advisor_4_team_type }}</td>
        <td class="team-hq_team">{{ form.advisor_4_hq_team }}</td>
        <td>{{ form.advisor_4_location }}</td>
      </tr>
    </table>

    <hr />

    <div class="form-group {{ form.type_of_support_1.errors|yesno:'error,' }}">
      {{ form.type_of_support_1.errors }}
      {{ form.type_of_support_1.label_tag }}
      {{ form.type_of_support_1 }}
      {% if form.type_of_support_1.help_text %}<div class="help-text">{{ form.type_of_support_1.help_text }}</div>{% endif %}
    </div>

    <div class="form-group {{ form.type_of_support_2.errors|yesno:'error,' }}">
      {{ form.type_of_support_2.errors }}
      {{ form.type_of_support_2.label_tag }}
      {{ form.type_of_support_2 }}
      {% if form.type_of_support_2.help_text %}<div class="help-text">{{ form.type_of_support_2.help_text }}</div>{% endif %}
    </div>

    <div class="form-group {{ form.type_of_support_3.errors|yesno:'error,' }}">
      {{ form.type_of_support_3.errors }}
      {{ form.type_of_support_3.label_tag }}
      {{ form.type_of_support_3 }}
      {% if form.type_of_support_3.help_text %}<div class="help-text">{{ form.type_of_support_3.help_text }}</div>{% endif %}
    </div>

    <div class="form-group {{ form.associated_programme_1.errors|yesno:'error,' }}">
      {{ form.associated_programme_1.errors }}
      {{ form.associated_programme_1.label_tag }}
      {{ form.associated_programme_1 }}
      {% if form.associated_programme_1.help_text %}<div class="help-text">{{ form.associated_programme_1.help_text }}</div>{% endif %}
    </div>

    <div class="form-group {{ form.associated_programme_2.errors|yesno:'error,' }}">
      {{ form.associated_programme_2.errors }}
      {{ form.associated_programme_2.label_tag }}
      {{ form.associated_programme_2 }}
      {% if form.associated_programme_2.help_text %}<div class="help-text">{{ form.associated_programme_2.help_text }}</div>{% endif %}
    </div>

    <div class="form-group {{ form.associated_programme_3.errors|yesno:'error,' }}">
      {{ form.associated_programme_3.errors }}
      {{ form.associated_programme_3.label_tag }}
      {{ form.associated_programme_3 }}
      {% if form.associated_programme_3.help_text %}<div class="help-text">{{ form.associated_programme_3.help_text }}</div>{% endif %}
    </div>

    <hr />

    <div class="form-group {{ form.is_personally_confirmed.errors|yesno:'error,' }}">
      {{ form.is_personally_confirmed.errors }}
      {{ form.is_personally_confirmed }}
      {{ form.is_personally_confirmed.label_tag }}
      {% if form.is_personally_confirmed.help_text %}<div class="help-text">{{ form.is_personally_confirmed.help_text }}</div>{% endif %}
      <div class="clearfix"></div>
    </div>

    <div class="form-group {{ form.is_line_manager_confirmed.errors|yesno:'error,' }}">
      {{ form.is_line_manager_confirmed.errors }}
      {{ form.is_line_manager_confirmed }}
      {{ form.is_line_manager_confirmed.label_tag }}
      {% if form.is_line_manager_confirmed.help_text %}<div class="help-text">{{ form.is_line_manager_confirmed.help_text }}</div>{% endif %}
      <div class="clearfix"></div>
    </div>

    {% csrf_token %}
    <div class="end-buttons">
      <input type="submit" name="s" value="Submit Record" class="btn btn-primary" />
    </div>

  </form>
{% endblock content %}


{% block js_footer %}
  <script>
  $(function() {

    // Hide temporary business type
    $("option:contains('Other (TEMPORARY)')").remove();

    // Auto filter the hq-team lists

    // Officer
    $("#id_team_type").on("change", function(){
      var type = $(this).val();
      $("#id_hq_team option").addClass("hidden");
      $("#id_hq_team option[value^=" + type + "]").removeClass("hidden");
      $("#id_hq_team").val($("#id_hq_team option[value^=" + type + "]").first().val());
    });

    // Advisor(s)
    $("#advisors tr.advisor td.team-type select").on("change", function(){
      var $this = $(this);
      var type = $this.val();
      var i = $this.attr("id").replace("id_advisor_", "").replace("_team_type", "");
      $("#id_advisor_" + i + "_hq_team option").addClass("hidden");
      $("#id_advisor_" + i + "_hq_team option[value^=" + type + "]").removeClass("hidden");
      $("#id_advisor_" + i + "_hq_team").val($("#id_advisor_" + i + "_hq_team option[value^=" + type + "]").first().val());
    });
  });
  </script>
{% endblock js_footer %}