{% extends 'ui/base.html' %}


{% load staticfiles %}


{% block css %}

  {{ block.super }}

  <style>
    h2 {
      margin: 50px auto;
      text-align: center;
      background-color: #be0048;
      padding: 2em;
      border-radius: 1em;
      color: #ffffff;
    }
  </style>

{% endblock css %}


{% block content %}
  <h2>Thank you for submitting a new Export Win.</h2>
  <div class="alert alert-info">
    <p>This win will be forwarded to the customer shortly</p>
    <p>
      While we are testing the new digital process, there may be a delay before
      we contact Customers to confirm Export Wins.
    </p>
    <p>
      We will let you know by email when we contact your Customer to confirm
      this win.
    </p>
    <p>
      If you would like to offer feedback on this service, please contact us,
      giving brief details, using the button below.
    </p>
  </div>
  <div class="text-center">
    <a href="mailto:{{ FEEDBACK_EMAIL }}?subject=Export%20Wins%20Feedback" class="btn btn-primary">Provide Feedback</a>
  </div>
{% endblock content %}
