{% extends "wins/partials/success.html" %}

{% block title %} - Win saved{% endblock %}
{% block breadcrumb-name %}Win saved{% endblock %}
{% block header %}Win saved{% endblock %}

{% block lead-message %}
      The win isn't complete until you have sent it to the customer and they have confirmed the details.
{% endblock %}

{% block success-content %}

	<div class="win-success">

		<ul>
			<li class="primary-action">
				<a href="{% url 'win-complete' win_id %}" class="btn btn-primary btn-responsive btn-lg">Check and send</a>
			</li>
			<li class="success-link">
				<a href="{% url 'win-edit' win_id %}">Back to edit win</a>
			</li>
		</ul>

	</div>

{% endblock %}
