{% extends "wins/partials/success.html" %}

{% block title %} - Win saved{% endblock %}
{% block breadcrumb-name %}Win saved{% endblock %}
{% block header %}Win saved{% endblock %}

{% comment %}
	<div class="text-center success-actions">
    	<a href="{% url 'win-details' win_id %}" class="btn btn-primary btn-lg btn-responsive">View details</a>
		<a href="{% url 'win-complete' win_id %}" class="btn btn-primary btn-lg btn-responsive">Review win</a>
		<a href="{% url 'win-edit' win_id %}" class="btn btn-primary btn-lg btn-responsive">Edit win</a>
		<a href="{% url 'index' %}" class="btn btn-primary btn-responsive">My wins</a>
		<a href="{% url 'new-win' %}" class="btn btn-default btn-responsive">Create new win</a>
	</div>
{% endcomment %}

{% block lead-message %}

	{% if win.responded %}

		You&#39;ve updated this win. The customer has already responded and it&#39;s listed as complete, but you can still <a href="{% url 'win-edit' win_id %}" title="Edit win">edit some details</a> at any time.

	{% else %}

     	The win isn&#39;t complete until you have sent it to the customer and they have confirmed the details.

	{% endif %}

{% endblock %}

{% block success-content %}

	{% if not win.responded and not win.complete %}

	<div class="win-success">

		<ul>
			<li class="primary-action">
				<a href="{% url 'win-complete' win_id %}" class="btn btn-primary btn-responsive btn-lg" title="Check win and send">Check and send</a>
			</li>
			<li class="success-link">
				<a href="{% url 'win-edit' win_id %}">Back to edit win</a>
			</li>
		</ul>

	</div>

	{% endif %}

{% endblock %}
