{% extends 'ui/base.html' %}


{% load staticfiles %}
{% load humanize %}

{% block title %} - Check before sending{% endblock %}
{% block breadcrumb-name %}Check before sending{% endblock %}
{% block header %}Check before sending{% endblock %}


{% block content %}

  {% if win.complete %}

    <p class="alert alert-info">
      This win has already been sent to the customer to comfirm.
    </p>

    <div class="text-center success-buttons win-complete-buttons">
      <a href="{% url 'index' %}" class="btn btn-default btn-responsive">Your export wins</a>
      <a href="{% url 'new-win' %}" class="btn btn-default btn-responsive">Create new export win</a>
    </div>

  {% else %}

    <p class="lead restrict-width">

      These are the details your customer will be asked to confirm.
    </p>

    <p>
      You won&#39;t be able to edit these details once sent. If you need to check them <a href="mailto:{{win.customer_email_address}}" title="Send email to {{win.customer_name}}">contact the customer</a>.
    </p>


    <p class="win-sending-details restrict-width">
      <span class="highlight">To:</span> {{ win.customer_name }} - {{ win.customer_email_address }}
    </p>

    <ul class="list-group review-win-details-list restrict-width">
      <li class="list-group-item"><span>Date won</span> {{ win.date | date:"M Y" }}</li>
      <li class="list-group-item"><span>Country</span> {{ win.country_name }}</li>
      <li class="list-group-item"><span>Company name</span> {{ win.company_name }}</li>
      {% if win.export_experience_display %}
          <li class="list-group-item"><span>Export experience</span> {{ win.export_experience_display }}</li>
      {% endif %}
      <li class="list-group-item"><span>Kind of business deal that best describes the win</span> {{ win.business_type }}</li>
      <li class="list-group-item"><span>How the company was supported in achieving the win</span> {{ win.description }}</li>
      <li class="list-group-item"><span>Export value</span> &pound;{{ win.total_expected_export_value | intcomma }}</li>
      <li class="list-group-item"><span>Non-export value</span> &pound;{{ win.total_expected_non_export_value | intcomma }}</li>
      <li class="list-group-item"><span>Outward Direct Investment value</span> &pound;{{ win.total_expected_odi_value | intcomma }}</li>

      {% if win.export_experience_display %}
          <li class="list-group-item"><span>Export experience</span> {{ win.export_experience_display }}</li>
      {% endif %}
    </ul>

    <form method="post" id="win-complete-form">
      {% csrf_token %}

      <div class="end-buttons win-complete-end-buttons">
        <input type="submit" name="complete" value="Send to customer" class="btn btn-primary btn-lg">
      </div>
    </form>

    <ul class="success-links">
      <li>
        <a href="{% url 'win-edit' win.id %}" title="Edit win details">Edit win</a>
      </li>
      <li>
        <a href="{% url 'index' %}">Back to your export wins</a>
      </li>
    </ul>

  {% endif %}

{% endblock content %}

{% block js_footer %}
  <script>
    ew.pages.winComplete( 'win-complete-form' );
  </script>
{% endblock %}
