@import "bootstrap/variables";
@import "login";
@import "win-form";
@import "confirmation-form";
@import "my-wins";
@import "win-details";
@import "success";

$brand-color: #cf102d;


body {
	border-top: 5px solid $brand-color;
	padding-top: 2.5em;
}

.logo-row {

	margin-top: -10px;

	.logo {
		height: 100px;
	}
}

.feedback-link {
	margin-right: 1em;
}

.win-breadcrumb {

	list-style: none;
	padding: 0.5em 1em;
	background-color: $gray-lighter;
	border-radius: 2px;
	color: $gray;
	margin: 0 0 3em 0;
	overflow: hidden;

	li {
		padding: 0;
		float: left;
		margin: 0;

		.separator {
			color: $gray;
			padding: 0 0.6em 0 0.6em;
		}
	}
}

.site-heading {

	margin-bottom: 1em;
	padding-left: 10px;
	color: #000;

	h1 {
		margin-bottom: 0;

		a,
		a:visited {
			color: #000;
		}
	}
}

.page-heading {
	margin-bottom: 0.5em;
}

hr {
	margin: 2.5em 1em;
}

h1 {
	margin-bottom: 1em;
}


form {

	input {
		padding-left: 2em;
		padding-right: 2em;
	}
}

.scroll-table {

	overflow-x: auto;
	margin-bottom: 20px;

	&::-webkit-scrollbar {
		width:5px;
	}

	&::-webkit-scrollbar-track {
		-webkit-border-radius:5px;
		border-radius:5px;
		background:rgba(0,0,0,0.1);
	}

	&::-webkit-scrollbar-thumb {
		-webkit-border-radius:5px;
		border-radius:5px;
		background:rgba(0,0,0,0.2);
	}

	&::-webkit-scrollbar-thumb:hover {
		background:rgba(0,0,0,0.4);
	}

	&::-webkit-scrollbar-thumb:window-inactive {
		background:rgba(0,0,0,0.05);
	}
}

td.error input {
	background-color: $brand-danger;
	color: #fff;
}


.form-group {
	
	margin: 1em 0;

	&.error {
		border: 1px solid $brand-danger;
		border-radius: 0.5em;
		padding: 1em;
	}

	.alert {
		padding: 0.5em;
		max-width: 100%;
	}

	ul {
		list-style: none;
		padding: 0;
	}
}

.alert,
.restrict-width {
	max-width: 600px;
}

.restrict-width-xsm {
	max-width: 200px;
}

.restrict-width-sm {
	max-width: 400px;
}

.restrict-width-lg {
	max-width: 800px;
}



/* Hide Firefox number field arrows */
input[type='number'] {
	-moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

.footer {

	border-top: 3px solid $gray-light;
	margin-top: 4em;
	margin-bottom: 3em;
	padding-top: 4em;

	img {
		height: 100px;
	}
}

.btn-responsive {

	width: auto;
	min-width: 120px;
}

.end-buttons {

	margin-top: 3em;

	.btn {

		@extend .btn-responsive;
		margin-right: 1em;

		&:last-child {
			margin-right: 0;
		}
	}
}

.section-heading {
	background-color: $gray-lighter;
	padding: 1em;
}

.section-content {
	padding: 1em 1.714em;
}

.win-complete-buttons,
.separate-section-heading {
	margin-top: 3em;
}

.review-win-details-list {

	font-weight: bold;

	span {
		display: block;
		font-weight: normal;
		padding-bottom: 0.25em;
	}
}

.link-below-buttons {
	margin-top: 2em;
	display: block;
}

.win-complete-end-buttons {
	margin-bottom: 3em;
}

.win-sending-details {

	font-size: 1.4em;
	margin: 3em 0 1.2em 0;
	background-color: $gray-lighter;
	padding: 15px;

	.highlight {
		font-weight: 500;
	}
}

.win-seding-edit-message {
	margin: 3em 0 -1em 0;
}

.word-counter {
	color: $gray;
}


@media( max-width:$screen-sm-min ){

	.logo-row .logo {
		height: 70px;
	}

	.btn-responsive,
	body .end-buttons .btn {
		width: 100%;
		margin-bottom: 1em;
		margin-left: 0 !important;
		margin-right: 0 !important;
	}

	.non-export-heading {
		margin-top: 2em;
	}
}