@import "login";
@import "win-form";
@import "confirmation-form";

.content {
	max-width: 600px;
	margin: 25px auto;
	padding: 10px;
}

img.logo {
	margin-bottom: 1em;
	height: 100px;
}

hr {
	margin: 3em 1em;
}

h1 {
	margin-bottom: 1em;
}

h1 p, h2 p, h3 p, h4 p {
	font-size: 12pt;
	color: #666666;
	margin: 0.5em 0;
}

form .end-buttons {
	text-align: right;
}

form .end-buttons input {
	padding-left: 2em;
	padding-right: 2em;
}

.help-text {
	color: #666666;
	padding: 0.5em 0.5em 0.5em 0;
}

.form-group .alert {
	padding: 0.5em;
}

table tr th {
	text-align: center;
}

td.error input {
	background-color: #f2dede;
}

.form-group {
	margin: 2em 0;
}

.form-group.error {
	border: 1px solid #f2dede;
	border-radius: 0.5em;
	padding: 1em;
}

.form-group ul li label {
	white-space: nowrap;
}

.form-group ul {
	width: 20%;
	float: right;
}

.form-group ul li {
	display: inline;
}

/* Hide Firefox number field arrows */
input[type='number'] {
	-moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
}