@import "bootstrap/variables";

.my-wins {

	.badge {
		background-color: $brand-primary;
		margin-bottom: 0.25em;
	}

	.new-win-bottom-btn {
		margin-top: 1em;
	}

	.my-wins-header {
		margin-top: 2.5em;
	}

	th,
	td {
		text-align: left;
	}

	th {
		position: relative;

		.glyphicon {
			position: absolute;
			top: auto;
			bottom: 0.9em;
			right: -2px;
			color: $gray-light;
		}
	}

	.text-right {
		text-align: right;
	}

	.company-name {
		width: 24%;
	}
	.country-name {
		width: 25%;
	}
	.customer-name {
		width: 15%;
	}
	.export-value {
		width: 14%;
	}
	.date {
		width: 10%;
		min-width: 4em;
	}
	.response-date,
	.last-modified {
		width: 12%;
		min-width: 6em;
	}
}