@import "bootstrap/variables";

$success-font-size: 1.2em;

.success-page-content {
	max-width: 700px;
}

.success-links {

	list-style: none;
	font-size: $success-font-size;
	padding: 0;

	li {
		padding: 0;
		margin-bottom: 0.7em;
	}
}

.success-feedback-message {
	color: $gray;
	margin-top: 2em;
}

.success-page-lead {
	margin: 1.5em 0 2em 0;
}

.success-actions {

	margin-bottom: 3em;

	.btn {
		margin-right: 1em;
	}

	.btn:last-of-type {
		margin-right: 0;
	}
}

.win-success {

	.btn-lg {
		margin: 1em 0 2em 0;
	}

	.success-link {
		font-size: $success-font-size;
	}

	.primary-action {
		margin-bottom: 2em;
	}

	ul {

		padding: 0;
		list-style: none;

		li {
			padding: 0;
		}
	}
}