.win-form {

	form h3 {
		margin-top: 3em;
	}

	table.advisors {

		tr th {
			vertical-align: middle;
		}

		.advisor-name {
			width: 15%;
		}

		.advistor-team-type {
			width: 15%;
		}

		.advistor-hq-team {
			width: 40%;
		}

		.advisor-location {
			width: 15%;
		}
	}

	.win-value-table td {

		width: 20%;
	}

	span.glyphicon {
		font-size: 1.4em;
	}

	.tooltip-inner {
		font-size: 1.2em;
	}

	.required {
		color: #d00;
		vertical-align: top;
	}

	#id_description {
		height: 9em;
	}

	label {
		max-width: 95%;
	}

	.help-text {

		margin-top: 0;
		color: #666666;
		padding: 0 0.5em 0.5em 0;
	}

	.win-form-well {
		margin-top: 3em;
	}
}