@import "bootstrap/variables";

.win-form {

	.radio-label {
		font-size: 1em;
		font-weight: bold;
	}

	form h3 {
		margin-top: 3em;
	}

	.remove-contributor {
		float: right;
	}

	.has-contributors {
		margin-top: 3em;
	}

	.contributing-officer-team-group {
		margin-bottom: 3em;
	}

	.win-value-table td {

		width: 20%;
	}

	.radio {
		margin: 1.5em 0;
	}

	span.glyphicon {
		font-size: 1.4em;
	}

	.tooltip-inner {
		font-size: 1.2em;
	}

	.required {
		color: $brand-danger;
		vertical-align: top;
		font-size: 1.2em;
	}

	#id_description {
		height: 9em;
	}

	label {
		max-width: 95%;
	}

	.help-text {

		margin: -0.25em 0 0 0;
		color: $gray;
		padding: 0 0.5em 0.5em 0;
	}

	.field-message {
		margin: -0.5em 0 0.25em 0;
		padding: 0;
	}

	.win-form-well {
		margin-top: 3em;
	}

	.text-danger {
		color: $state-danger-text;
	}

	.win-values {

		margin-top: 3em;
	}

	.export-total,
	.export-year-value {
		font-size: 1.1em;
		font-weight: bold;
		margin-top: -1em;
		background-color: $gray-lighter;
		padding: 0.5em;
	}

	.non-export-heading {
		margin-top: 2em;
	}
}