.win-form {
	table.advisors tr th {
		vertical-align: middle;
	}
	span.glyphicon {
		font-size: 1.4em;
	}
	.tooltip-inner {
		font-size: 1.2em;
	}
	.required {
		color: #d00;
	}
	#id_description {
		height: 9em;
	}
}