{% extends 'ui//admin/base.html' %}

{% load staticfiles %}

{% block css %}

	<style>

		h2 {
			margin-bottom: 1em;
		}

		.nav li {
			font-size: 1.2em;
		}
	</style>

{% endblock %}

{% block admin-content %}

	<h2>Admin tools</h2>

	<ul class="nav nav-pills nav-stacked restrict-width">
		<li>
			<a href="{% url "add-user" %}">Add a new user</a>
		</li>
		<li>
			<a href="{% url "new-password" %}">Issue a new password to an existing user</a>
		</li>
		<li>
			<a href="{% url "send-customer-email" %}">Resend customer email</a>
		</li>
		<li>
			<a href="{% url "send-admin-customer-email" %}">Send customer email to admin</a>
		</li>
		<li>
			<a href="{% url "change-customer-email" %}">Change customer email address and send email</a>
		</li>
		<li>
			<a href="{% url "soft-delete" %}">Delete a win</a>
		</li>
		<li>
			<a href="{% url "csv-upload" %}">Upload an export wins csv file</a>
		</li>
	</ul>

{% endblock %}
