{% extends 'ui/admin/form.html' %}

{% block success %}
	Success! A new password has been sent to {{ email }}.
{% endblock %}

{% block breadcrumb-name %}Issue password{% endblock %}
{% block admin-title %}Issue new password{% endblock %}

{% block form %}

	<p class="lead restrict-width">This will issue a new password to an existing officer.</p>

	<div class="form-group">
		<label for="email" class="col-sm-2 control-label">Officer email:</label>
		<div class="col-sm-10 restrict-width-sm">
			<input class="form-control" id="email" type="text" value="{{ email }}" name="email">
		</div>
	</div>

	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-5">
			<input type="submit" value="Issue new password" class="btn btn-primary">
		</div>
	</div>
{% endblock %}
