{% extends 'ui/admin/form.html' %}

{% block success %}
    Success - an email has been sent to the Export Wins feedback address with the text of the customer email for Win {{ win_id }}.
{% endblock %}

{% block breadcrumb-name %}Send admin the customer email{% endblock %}
{% block admin-title %}Send admin the customer email{% endblock %}

{% block form %}
    <p class="lead restrict-width">
    	This will send the customer email for a Win to the Export Wins feedback address so the admin can manually send to the customer.
    </p>

    <div class="form-group">
    	<label for="win-id" class="col-sm-2 control-label">Win ID:</label>
    	<div class="col-sm-10 restrict-width-sm">
    		<input class="form-control" id="win-id" type="text" name="win_id" value="{% if error %}{{ win_id }}{% endif %}">
    	</div>
    </div>

    <div class="form-group">
    	<div class="col-sm-offset-2 col-sm-10">
		    <input type="submit" value="Send customer email" class="btn btn-primary">
    	</div>
    </div>
{% endblock %}