{% extends 'ui/admin-form.html' %}

{% block success %}
    Success! An email has been sent to the customer email for win {{ win_id }}, and the officers have been notified.<br><br>
{% endblock %}

{% block form %}
    <h2>Send customer email</h2>
    <span class="help">This will send an email to the customer email address attached to the Win, and will also notify the officer than an email has been sent to the customer</span>
    <br>
    Win ID: <input type="text" name="win_id" value="{% if win_id %}{{ win_id }}{% endif %}">
    <input type="submit" value="Send customer email" class="btn btn-primary">
{% endblock %}
