{% extends 'ui/admin-form.html' %}

{% block success %}
    Success! User has been created for {{ name }} and password email sent to {{ email }}.<br><br>
{% endblock %}

{% block form %}
    <h2>Add a new user</h2>
    Name: <input type="text" value="{% if error %}{{ name }}{% endif %}" name="name"> <br>
    Email: <input type="text" value="{% if error %}{{ email }}{% endif %}" name="email"> <br>
    <input type="submit" value="Add user and send password email" class="btn btn-primary">
{% endblock %}
