{% extends 'ui/base.html' %}


{% load staticfiles %}


{% block css %}

  {{ block.super }}

  <style>

  </style>

{% endblock css %}


{% block content %}

<a href="/admin"><h1>Export Wins Admin</h1></a>

<a href="{% url "add-user" %}">Add a new user</a><br>
<a href="{% url "new-password" %}">Issue a new password to an existing user</a><br>
<a href="{% url "send-customer-email" %}">Send customer email</a><br>
<a href="{% url "change-customer-email" %}">Change customer email address and send email</a><br>

{% endblock %}