{% load staticfiles %}<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>DIT Export Wins{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap_2016-08-31.css' %}">
    <link rel="stylesheet" href="{% static 'ui/css/main_2018-04-29.css' %}">
    <!--[if lte IE 7]>
      <link href="{% static 'ui/css/bootstrap-ie7.css' %}" media="screen" rel="stylesheet">
      <link href="{% static 'ui/css/ie7.css' %}" media="screen" rel="stylesheet">
    <![endif]-->

    {% block css %}{% endblock css %}

  </head>
  <body>

    {% block banner %}{% endblock banner %}

    <div class="content container">

      <div class="row logo-row">
        <div class="col-xs-5">
          <img src="{% static 'ui/img/dit-logo.png' %}" alt="logo" title="Department for International Trade" height="100" class="logo">
        </div>
        <div class="col-xs-7">
          <div class="hidden-print text-right">
            <a href="mailto:{{ FEEDBACK_EMAIL }}?subject=Export%20Wins%20Feedback" class="feedback-link">Feedback</a>
            {% if user.is_authenticated %}
              <a href="{% url 'logout' %}" class="btn btn-danger btn-sm">Logout</a>
            {% endif %}
          </div>
        </div>
      </div>

      {% block site-header %}
      <div class="site-heading">
          <h1 class="h2"><a href="{% url 'index' %}">Export Wins</a></h1>
      </div>

      {% block breadcrumb %}
      <ol class="win-breadcrumb hidden-print">
        <li><a href="{% url 'index' %}">Your export wins</a><span class="separator">/</span></li>
        <li class="active">{% block breadcrumb-name %}{% endblock breadcrumb-name %}</li>
      </ol>
      {% endblock breadcrumb %}

      {% endblock site-header %}

      <h2 class="h1 page-heading">
        {% block header %}{% endblock header %}
      </h2>

      {% block content %}{% endblock content %}

      <div class="row footer">
        <div class="col-xs-12 text-right">
           <img src="{% static 'ui/img/exporting-is-great-logo_200.png' %}" alt="logo" title="Department for International Trade Exporting is Great" height="70">
        </div>
      </div>
    </div>

    <script src="{% static 'vendor/jquery-1.12.3.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap_2016-08-31.min.js' %}"></script>

    <script src="{% static 'ui/js/main_2018-04-29.min.js' %}"></script>

    {% block js_footer %}{% endblock js_footer %}

    {% if ANALYTICS_ID %}
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ ANALYTICS_ID }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}

  </body>
</html>
