{% extends 'ui/base.html' %}


{% load staticfiles %}


{% block css %}

  {{ block.super }}

  <style>
    .btn {
      margin-right: 1em;
    }
  </style>

{% endblock css %}


{% block content %}

  <div class="alert alert-info">
    <p>
      [overview of how process works, can save form in intermediate stage, later confirm]
    </p>
  </div>

  <div style="text-align: center;" class="well">
    <a href="{% url 'new-win' %}" class="btn btn-primary">Record a New Export Win</a>
  </div>


{% endblock content %}
