{% extends 'ui/base.html' %}


{% load staticfiles %}


{% block css %}

  {{ block.super }}

  <style>
  </style>

{% endblock css %}


{% block content %}

  <div class="alert alert-info">
    <p>
      Before you start, you will should have all of the information you need to
      complete the form with you (refer to the screenshots in the user guidance
      to see the information required).
    </p>
    <p>Mandatory fields are marked with an asterisk (*).</p>
    <p>
      Currently, you must complete the data input for each form within 1 day.
    </p>
  </div>

  <div style="text-align: center;" class="well">
    <a href="{% url 'new' %}" class="btn btn-primary">Record a New Export Win</a>
  </div>

{% endblock content %}
