.logo-row .col-xs-6 {
	width: 41% !important;
}

.confirmation-form .btn-group label input {
	visibility: hidden;
}

.confirmation-form .radio label input,
.confirmation-form .checkbox label input {
	top: 3px !important;
}

.confirmation-form .win-details dd {
	width: 20% !important;
}

td .input-group .input-group-addon {
	float: left;
	height: 20px;
}

td .input-group .form-control {
	float: left;
	width: 75%;
}

.form-control {
	height: 20px;
}